<html>
	<head>
		<link href="assets/style.css" type="text/css" rel="stylesheet" />
		<script src="https://code.jquery.com/jquery-1.11.3.min.js" ></script>
	</head>
	<body>
		<h1>Dad is getting old!</h1>
	</body>
</html>