<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.14/dist/semantic.min.css">
	<style>
		.hidden {
			display: none;
		}
	</style>
</head>

<body>
		<button>
			<a href='/auth/google'>Sign In with Google</a>
		</button>
		<button>
			<a href='/auth/facebook'>Sign In with Facebook</a>
		</button>
	</div>
</body>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.14/semantic.min.js"></script>
<script src='./public/modal.js'></script>

</html>